:root {
  --nwcGreen: hsl(167, 100%, 20.2%); // #006751 - R0 G103 B81
  --nwcLightGreen: hsl(120, 55.5%, 44.9%); // #346233 - R52 G178 B51
  --nwcRed: hsl(355, 84.5%, 54.5%); // #ed2939 - R237 G41 B57
  --nwcYellow: hsl(47, 100%, 46.1%); // #ebb700 - R235 G183 B0
  --nwcBlue: hsl(220, 100%, 23.1%); // #002776 - R0 G39 B118
  --nwcLightBlue: hsl(207, 100%, 40.6%); // #0073cf - R0 G115 B207

  --ncrBlue: hsl(208, 100%, 34%); // #005cab - R0 G92 B171
  --ncrOrange: hsl(32, 94%, 60%); // #f9a13a - R249 G161 B58
  --ncrGreen: hsl(92, 51%, 51%); // #7dc242 - R125 G194 B66
  --weBlue: hsl(196, 100%, 47%); // #00aeef - R0 G174 B239

  --green: hsl(166, 100%, 18.4%); // #005e48 - R0 G94 B72
  --lightgreen: hsl(130, 40.5%, 52.5%); //#55b765 - R85 G183 B101
  --fadeRed: hsl(360, 82.5%, 57.5%); // #ec393a - R236 G57 B58
  --brightRed: hsl(358, 72.6%, 45.9%); // #ca2027 - R202 G32 B39
  --red: hsl(358, 84.6%, 51.8%); // #ec1c23 - R236 G28 B35
  --darkBlue: hsl(235, 52.2%, 9%); // #0b0d23 - R11 G13 B35
  --gold: hsl(54, 69.2%, 84.7%); // #f3eebd - R243 G238 B189
  --lightGold: hsl(54, 71.4%, 97.3%); // #fdfcf3 - R253 G252 B243

  --black: hsl(0, 0%, 0%); // #000000 - R0 G0 B0
  --richBlack: hsl(0, 0%, 6%); // #0f0f0f - R237 G41 B57
  --lightGrey: hsl(210, 1%, 60.8%); // #9a9b9c - R154 G155 B156
  --grey: hsl(0, 0%, 50.2%); // #808080 - R128 G128 B128
  --white: hsl(0, 0%, 100%); // #ffffff - R255 G255 B255
}
