@use "../util" as *;

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-family: var(--font-display);
  line-height: 1.1;
  margin-bottom: rem(20);
}

a,
a:visited,
a:active {
  text-decoration: none;
}

p {
  font-family: var(--font-body);
  font-size: rem(16);
  line-height: 1.5;
  color: var(--grey);
}
