@use "../util" as *;

.header {
  background-color: var(--nwcGreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 998;

  // Hamburger open styles
  &.open {
    .overlay {
      display: block;
    }

    .header__toggle {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(var(--nwcLightGreen), transparent);
  }

  &__logo {
    padding: rem(16) 0;

    img {
      width: rem(175);
      height: rem(85);
    }
  }

  &__section {
    width: 100%;
  }

  &__toggle {
    > span {
      display: block;
      width: rem(26);
      height: rem(2);
      background-color: var(--white);
      transition: all 300ms ease-in-out;
      transform-origin: rem(3) rem(1);

      &:not(:last-child) {
        margin-bottom: rem(5);
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &--open {
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: var(--nwcGreen);
      width: 100%;
      left: 50%;
      transform: translate(-50%);
      height: auto;
      top: 125px;
      padding: 20px;
      z-index: 990;
      margin: 0 auto;
      transition: all 300ms ease-in-out;
    }
  }

  &__media {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: rem(10);

    @include breakpoint-down(medium) {
      flex-direction: column;
    }
  }

  &__search {
    margin-left: rem(30);

    @include breakpoint-down(medium) {
      width: 100%;
      margin: rem(20) 0 0;
    }

    input[type="text"] {
      font-size: rem(16);
      color: var(--lightGrey);
    }

    &--placeholder {
      padding: rem(5);
      border-radius: rem(5);
      border: rem(1) solid var(--newGreen);

      @include breakpoint-down(medium) {
        width: 100%;
      }
    }
  }

  &__social {
    @include breakpoint-down(medium) {
      width: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    a {
      margin-left: rem(20);

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-bottom: rem(10);

    @include breakpoint-down(medium) {
      flex-direction: column;
    }

    // ul {
    //   display: flex;
    //   gap: rem(16);
    //   flex-direction: row;
    // }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: var(--font-display);
      font-size: rem(17);
      font-weight: 500;
      list-style: none;
      // margin-left: rem(16);

      // &:first-child {
      //   margin-left: 0;
      // }

      @include breakpoint-down(medium) {
        margin: rem(10) 0;
      }
    }
  }
}

.head {
  @include breakpoint-down(medium) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nwcGreen);
  width: 100%;

  @include breakpoint-down(medium) {
    padding: rem(20);
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;

    &--open {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      padding-left: 0;
      transition: all 300ms ease-in-out;
    }
  }

  &__item {
    &:hover,
    &:focus {
      ul.submenu {
        // opacity: 1;
        // visibility: visible;
        // display: flex;
        // flex-direction: column;
        width: 100%;
        // width: rem(192);

        @include breakpoint(medium) {
          width: 100%;
          opacity: 1;
          visibility: visible;
          display: flex;
          flex-direction: column;
          // width: 100%;
          width: rem(192);
        }
      }
    }
  }

  &__list,
  &__item {
    margin-left: rem(30);

    &:first-child {
      margin-left: 0;
    }

    @include breakpoint-down(medium) {
      // flex-direction: column;
      display: none;
    }

    a {
      color: var(--white);
      padding: rem(16) 0;
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.has-submenu {
  display: flex;
  flex-direction: column;
  position: relative;

  ul.submenu {
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out;

    @include breakpoint-down(medium) {
      opacity: 1;
      visibility: visible;
    }
  }

  // &:hover,
  // &:focus {
  //   ul.submenu {
  //     opacity: 1;
  //     visibility: visible;
  //     display: flex;
  //     flex-direction: column;
  //     // width: 100%;
  //     width: rem(192);

  //     @include breakpoint-down(medium) {
  //       // opacity: 0;
  //       // visibility: hidden;
  //       // display: none;
  //       // flex-direction: column;
  //       // width: 100%;
  //     }

  //     li.subitem {
  //       // padding-left: 0;
  //       // // margin-top: rem(10);
  //       // margin: auto;
  //       // width: rem(192);
  //       // transition: background-color 200ms ease-in-out;
  //     }
  //   }
  // }
}

.submenu {
  display: none;
  justify-content: center;
  padding-left: 0;
  width: 100%;

  @include breakpoint(large) {
    display: none;
    justify-content: center;
    padding-left: 0;
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: var(--nwcGreen);
    padding: 0;
    top: em(32);
    margin-top: em(16);
  }

  & li {
    margin-left: 0;
  }
}

.submenu-active .submenu {
  @include breakpoint-down(medium) {
    display: block;
    background-color: var(--nwcLightGreen);
  }
}

.nav__item {
  // width: 100%;
  text-align: center;
  display: none;
}

.active .nav__item {
  display: block;
}

.subitem {
  // margin: em(10) 0 0 0;
  color: var(--white);
  width: 100%;
  margin: 0;
  padding: rem(8) 0;

  &:hover,
  &:focus {
    background-color: var(--nwcLightGreen);
  }

  &:last-child {
    padding-bottom: em(12);
  }

  a {
    padding: 0;
    gap: 0;
  }
}

// Visibility
.hide-for-mobile {
  // hide for tablet and mobile devices
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop viewport widths
  @include breakpoint(large) {
    display: none;
  }
}

.drop {
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.nav__item.has-submenu.submenu-active {
  background-color: transparent;
}
